<style>
  table {
    width: 20%;
    table-layout: fixed;
  }

  th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
</style>

<div class="center hero-unit">
  <table>
    <tbody>
      <tr>
        <td> <%= task.employee %></td>
        <td> <%= task.project %></td>
      </tr>
    </tbody>
  </table>
</div>