<div class="text-center">
  <h1>Employee Project Role</h1>

  <div class="center hero-unit">
    <table>
      <tbody>
        <tr>
          <h3>Click employee to see their project contributions</h3>
        </tr>
        <tr>
          <%= render @tasks %>
        </tr>
      </tbody>
    </table>
  </div>


  <h4>Import the data!</h4>
  <%= form_tag import_tasks_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
  <% end %>

</div>