<h1>Employee Project Role</h1>

<div class="center hero-unit">
  <h3>Description => <%= @project.description %></h3>
  <h3>Contributors:</h3>
  <div>
    <% @task.each do |item| %>
        <ul><%= item.employee %></ul>
    <% end %>
  </div>
  <h3>Materials:</h3>
  <div>
    <% @material.each do |material| %>
        <ul><%= material.material + " => " + material.amount%></ul>
    <% end %>
  </div>
  <br>
</div>

<%= link_to 'Back', projects_path %>