<h1>Employee Project Role</h1>

<div class="center hero-unit">
  <h3>Description => <%= @project.description %></h3>
  <h3>Materials:</h3>
  <div>
    <%= render @material %>
  </div>
  <br>
</div>

<%= link_to 'Back', projects_path %>