<style>
  table {
    width: 20%;
    table-layout: fixed;
  }

  th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
</style>

<div class="center hero-unit">
<table>
  <tbody>
  <tr>
    <td> <%= material.project %></td>
    <td> <%= material.material %></td>
    <td> <%= material.amount %></td>
  </tr>
  </tbody>
</table>
</div>