<style>
  table {
    width: 20%;
    table-layout: fixed;
  }

  th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
</style>

<div class="center hero-unit">
  <table>
    <tbody>
    <tr>
      <td> <%= material.material %></td>
      <% @total = 0 %>
      <% Material.all.each do |item| %>
          <% if material.material == item.material %>
            <% @total += get_total_material_amount(item.material, item.amount) %>
          <% end %>
      <% end %>
      <td> <%= (@total).to_s + " " + material.amount[/\d*(\D*)/, 1] %></td>
    </tr>
    </tbody>
  </table>
</div>